html, body {
  margin: 0;
  background-color: rgb(18, 18, 48);
  height: 100%;
}

body > section {
  box-sizing: border-box;
  width: 90%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: white;
  font-size: 13px;
  color: white;
  text-shadow: -1px -1px rgb(50, 49, 49);
}

section .menu {
  min-width: 30%;
  float: left;
  margin-right: .3rem;
  background:white;
  box-shadow: 0 0 1rem .2rem rgb(124, 122, 122);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  padding: .5rem 1.3rem;
  background-color: rgb(226, 223, 223);
  border-bottom: 1px solid #fff; 
  color: black;
  text-shadow: none;
  cursor: pointer;
  position: relative;
}

ul li:hover {
  background-color: blue;
  color: white;
}

ul li:last-child {
  border-bottom:none;
}

ul li span{
  position: absolute;
  top: calc(50%-.3rem);
  right: .5rem;
  color: rgb(159, 156, 156);
}

section .images-container {
  min-width: 60%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
}

.images-container img {
  width: 100%;
  height: 100%;
}

.images-container .pic:first-child {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}

.pic {
  position: relative;
}

.pic .description {
  position: absolute;
  bottom: .5rem;
  padding: 0 1rem;
  color: #fff;
  z-index: 1;
}

h2, h3 {
  margin-bottom: 0;
  margin-top: 0;
}

h2:hover {
  text-decoration: underline;
}

p {
  margin-top: 0;
}

@media screen and (max-width: 992px) {
  section .images-container {
      grid-template-columns: 1fr 1fr;
  }
  .box:nth-child(6) {
      display: none;
  }
  
}
@media screen and (max-width: 768px) {
  .menu {
      display: none;
  }
  .images-container {
      min-width: 90%;
  }
}

